ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  padding: 0px;
  margin: 0px;
}

#tab.active {
  background: #5a656a;
  color: white;
}

#MyPageTab .active {
  color: black;
  border-bottom: black;
}

.fc-event.is-absent {
  background-color: #e34449 !important;
  border-color: #e34449 !important;
}

#footer.active {
  color: #e81a48 !important;
}
