
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    padding: 0px;
    margin: 0px;
}

.active {
  background: #5A656A; /* アクティブなリンクの色を赤に変更 */
  color: white;
}

.fc-event.is-absent {
  background-color: #E34449 !important;
  border-color: #E34449 !important;
}